﻿@model ExamenMovies.Models.MoviesModel

@{
    ViewData["Title"] = "Create";
}

<    <h1>
    <p class="text-white">Create</p>
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="movie_name" class="text-white"></label>
                <input asp-for="movie_name" class="form-control" />
                <span asp-validation-for="movie_name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="movie_genere" class="text-white"></label>
                <select class="form-control" name="movie_genere" id="movie">

                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Fiction">Fiction</option>
                    <option value="SuperHero">SuperHero</option>
                </select>
                
                <span asp-validation-for="movie_genere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie_year" class="text-white"></label>
                <input asp-for="movie_year" class="form-control" />
                <span asp-validation-for="movie_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie_calification" class="text-white"></label>
                <select class="form-control" name="movie_calification" id="calification">

                    <option value="Bad">Bad</option>
                    <option value="Good">Good</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Excellent">Excellent</option>
                </select>

                <span asp-validation-for="movie_calification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
