﻿@model ExamenMovies.Models.MoviesModel

@{
    ViewData["Title"] = "Delete";
}

<h1>
    <p class="text-white">Delete</p>
</h1>

<h3>
    <p class="text-white">Are you sure you want to delete this?</p>
</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie_genere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie_genere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie_year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie_year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie_calification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie_calification)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
