﻿@model ExamenMovies.Models.MoviesModel

@{
    ViewData["Title"] = "Detail";
}

<    <h1>
        <p class="text-white">Movie Detail</p>
    </h1>

     <div background-color: white>
         <hr />
    
             <dl class="row">
                 <dt class="col-sm-2">
                     @Html.DisplayNameFor(model => model.movie_id)
                 </dt>
                 <dd class="col-sm-10">
                     @Html.DisplayFor(model => model.movie_id)
                 </dd>
                 <dt class="col-sm-2">
                     @Html.DisplayNameFor(model => model.movie_name)
                 </dt>
                 <dd class="col-sm-10">
                     @Html.DisplayFor(model => model.movie_name)
                 </dd>
                 <dt class="col-sm-2">
                     @Html.DisplayNameFor(model => model.movie_genere)
                 </dt>
                 <dd class="col-sm-10">
                     @Html.DisplayFor(model => model.movie_genere)
                 </dd>
                 <dt class="col-sm-2">
                     @Html.DisplayNameFor(model => model.movie_year)
                 </dt>
                 <dd class="col-sm-10">
                     @Html.DisplayFor(model => model.movie_year)
                 </dd>
                 <dt class="col-sm-2">
                     @Html.DisplayNameFor(model => model.movie_calification)
                 </dt>
                 <dd class="col-sm-10">
                     @Html.DisplayFor(model => model.movie_calification)
                 </dd>
             </dl>
 
     </div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.movie_id }) |
    <a asp-action="Index">Back to List</a>
</div>
