﻿@model IEnumerable<ExamenMovies.Models.MoviesModel>

@{
    ViewData["Title"] = "AngelMovies";
}

    <h1>
        <p class="text-white">Angel Prime</p>
    </h1>

<form asp-controller="Movies" asp-action="Index" method="get">
    <p class="text-white">
        Nombre de la pelicula:
        <input type="text" name="SearchString">
        <input type="submit" value="Buscar" />

    </p>

</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movie_id )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie_genere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie_year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie_calification)
            </th>
            <th>
                Options
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td bgcolor="#C4E3F3">
                    @Html.DisplayFor(modelItem => item.movie_id)
                </td>
                <td bgcolor="#C4E3F3">
                    @Html.DisplayFor(modelItem => item.movie_name)
                </td>
                <td bgcolor="#C4E3F3">
                    @Html.DisplayFor(modelItem => item.movie_genere)
                </td>
                <td bgcolor="#C4E3F3">
                    @Html.DisplayFor(modelItem => item.movie_year)
                </td>
                <td bgcolor="#C4E3F3">

                    @Html.DisplayFor(modelItem => item.movie_calification)
                </td>
                <td bgcolor="#C4E3F3">
                    @Html.ActionLink("Edit", "Edit", new { id = item.movie_id }, new { @class = "btn btn-primary" }) |

                    @Html.ActionLink("Details", "Detail", new { id = item.movie_id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.movie_id }, new { @class = "btn btn-danger" })
                </td>
                <td bgcolor="#C4E3F3">
                    <img src="https://pbs.twimg.com/profile_images/707484153285988352/BtbCub-r_400x400.jpg" class="rounded float-left" alt="Responsive image">
                </td>

            </tr>
        }
    </tbody>
</table>
